<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ado.permanentbtsocketserver" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".BtSocketService" />

        <activity
            android:name=".ControlActivity"
            android:label="@string/title_activity_start_server" >
        </activity>
    </application>

</manifest>
